@font-face{
    font-family: digital;
    src: url('./font/digital-7-mono.ttf')
}


body {
    margin: 0;
    padding: 0;
    font-family: 'digital', monospace;
}

button {
    font-family: monospace;
    font-size: 30px;
    line-height: 50px;
}

header {
    text-align: center;
}

h1 {
    font-size: 50px;
}

#main {
    display: grid;
    grid-template-columns: 1fr 550px 1fr;
}

#calc-body {
    width: 500px;
    margin: auto;
    padding: 25px;

    background: #347586;

    border-radius: 20px;

    transition: transform 0.7s ease-in-out;
}
.flip {
    transform: rotate(180deg);
}

#calc-screen {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;
    background: #e3e3e3;
    border-radius: 5px;
    font-size: 60px;

    padding: 0 20px;
}

#input span {
    margin: 0 10px;
}

#buttons {
    margin: 80px 0 25px 0;
    display: flex;
    justify-content: space-between;
}

#numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    width: 60%;
}



#operators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    width: 35%;
}

#equals, #clear {
    grid-column: 1 / -1;
}


#fun-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 40px;
}

#color-div {
    border: 1px solid gray;
}

#color-div h2 {
    text-align: center;
    margin: 5px 0;
}

#color-picker {
    border:none;
    padding: 0;
    margin: 0;
    height: 50px;
    width: 75px;
    background: none;
}

#flip {
    margin: 5px 1px;
}